fastapi==0.110.0
uvicorn==0.29.0
sqlalchemy==2.0.28
streamlit==1.32.2
folium==0.16.0
streamlit-folium==0.19.0
requests==2.31.0
groq==0.4.2
fpdf2==2.7.8
pydantic==2.6.4
pydantic-settings==2.2.1
slowapi==0.1.9
python-dotenv==1.0.1
